@use './variables' as var;

// Mixins instead of classes
@mixin layout-host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 100%;
}

@mixin page-wrapper {
  display: block;
  margin: 0;
  box-sizing: border-box;
}

@mixin top-container {
  display: block;
}

@mixin section-container {
  display: block;
}

@mixin header {
  @include section-container;
  margin: 0 auto;
}

@mixin main {
  @include section-container;
  margin: 0 auto var.$spacing-large auto;
  max-width: calc(100% - 32px);
}

@mixin footer {
  display: block;
  width: 100%;
  position: relative;
  bottom: 0;
}