@import '../../../app/scss/abstracts/variables';
:host {
 // padding: 0px 16px 16px 0px;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Full viewport height */
}

.content {
  flex: 1;             /* Take all remaining space */
  background: #f5f7fa;
  background-color: $color-white;
}

.footer {
  text-align: center;
}