<p>counter works!</p>

<div class="counter">
  <div>Current Count: {{ count$ | async }}</div>
  <br />
  <button (click)="increment()">Increment</button>
  <br />
  <button (click)="decrement()">Decrement</button>
  <br />
  <button (click)="reset()">Reset Counter</button>
  <p>Example for directive usage : </p>
  <div>
    <label>Enter your text to show the reverse string :</label>
    <input type="text" id="name" [(ngModel)] = "rText"/>
  </div>

  <p> your text is : {{rText | reverse }}</p>
  
</div>
